.cta-inner {
    padding-bottom: 10rem;
    .cta-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6.4rem;

        .img-wrap{
            width: 13rem;
            height: 13rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        p{
            text-align: center;
            font-size: 1.6rem;
            margin-top: 1.6rem;
        }
    }
}