.cta-inner {
    padding-bottom: 10rem;
    .cta-list{
        display: flex;
        justify-content: center;
        
        gap: 6.4rem;
        text-align: center;

        .img-wrap{
            width: 13rem;
            height: 13rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        p{
            text-align: center;
            font-size: 1.6rem;
            margin-top: 1.6rem;
        }
    }
    @media screen and (max-width:1280px) {
        .cta-list {
            gap: 2rem;
            justify-content: space-between;
            padding: 0 6rem;
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width:855px) {
        
        .cta-list {
            justify-content: center;
            padding: 0 2rem;
            gap: 2rem;
        }
    }

    @media screen and (max-width:490px) {
        padding-bottom: 5rem;
        .cta-list {
            
            .img-wrap {
                width: 9.5rem;
                height: 9.5rem;
                
                
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}