.hello-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    .t-wrap {
        text-align: center;
        width: 63rem;
        h2.tit {
            color: var(--primary);
            margin: 4rem 0 2rem;
            font-weight: 500;
        }
        @media screen and (max-width:1280px) {
            h2.tit {
                font-size: 5.8rem;
            }
            
        }

        @media screen and (max-width:720px) {
            h2.tit {
                font-size: 3.2rem;
            }
            p.txt-1 {
                font-size: 1.3rem;
            }
            a.btn {
                width: 15rem;
                height: 4rem;
            }
        }
    }
    @media screen and (max-width:720px) {
        flex-direction: column;
        gap: 4rem;
        padding: 0 2rem 0;
    }

}