.instargram-inner {
    .t-wrap {
        h2.tit {
            color: var(--secondary);
            font-weight: 500;
            @media screen and (max-width:1280px) {
                font-size: 5rem;
            }
            @media screen and (max-width:490px) {
                font-size: 3.2rem;
            }
        }
    
        p.txt {
            color: var(--muted);
            margin-top: 2.2rem;
            font-family: 'Source Serif Pro',serif;
            font-style: italic;
            @media screen and (max-width:1280px) {
                margin-bottom: 4rem;
            }
            @media screen and (max-width:490px) {
                font-size: 1.8rem;
            }
        }

        .instar-list {
            display: flex;
            gap: .4rem;
            margin-top: 4rem;
            
            

            li {
                flex: 1;
                a {
                    display: block;
                    height: 21rem;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    font-size: 0;
                }
                
            }

            @media screen and (max-width:750px) {
                flex-wrap: wrap;
                li {
                    flex: content;
                }
            }
        }
    }
}