.instargram-inner {
    .t-wrap {
        h2.tit {
            color: var(--secondary);
            font-weight: 500;
            
        }
    
        p.txt {
            color: var(--muted);
            margin-top: 2.2rem;
            font-family: 'Source Serif Pro',serif;
            font-style: italic;
            @media screen and (max-width:1280px) {
                margin-bottom: 4rem;
            }
            
        }
        @media screen and (max-width:490px) {
            text-align: center;
        }

        .instar-list {
            display: flex;
            gap: .4rem;
            margin-top: 4rem;
            
            @media screen and (max-width:1280px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            li {
                flex: 1;
                a {
                    display: block;
                    height: 21rem;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    font-size: 0;
                }
                @media screen and (max-width:1280px) {
                    flex: 0;
                    width: 15rem;
                    height: 15rem;
                    
                    a{
                        width: 15rem;
                        height: 15rem;
                    }
                }
                
            }

            
        }
    }
}